[core]
  pager = less -FRSX
	autocrlf = input

[user]
  name = Tavish Armstrong
  email = tavisharmstrong@gmail.com
  signingkey = "635A8E46"

[color]
  diff = auto
  status = auto
  branch = auto
  log = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[alias]
  l = log --pretty=\"format:%h (%an): %s\" --graph --decorate
  out = outgoing

[push]
  default = current
